<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Cnic:</strong>
  <%= @employee.cnic %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Job rank:</strong>
  <%= @employee.job_rank %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @employee.dob %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee.city %>
</p>

<p>
  <strong>Permanent address:</strong>
  <%= @employee.permanent_address %>
</p>

<p>
  <strong>Current address:</strong>
  <%= @employee.current_address %>
</p>

<p>
  <strong>Doj:</strong>
  <%= @employee.doj %>
</p>

<p>
  <strong>Image:</strong>
  <%= @employee.image %>
</p>

<p>
  <strong>Store configuration:</strong>
  <%= @employee.store_configuration_id %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @employee.remarks %>
</p>

<p>
  <strong>Martial status:</strong>
  <%= @employee.martial_status %>
</p>

<p>
  <strong>Status:</strong>
  <%= @employee.status %>
</p>

<p>
  <strong>Father spouse name:</strong>
  <%= @employee.father_spouse_name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @employee.mobile %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
