<p id="notice"><%= notice %></p>

<h1>Expenses</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Price</th>
      <th>Type</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= number_to_currency(expense.price,unit:config.currency) %></td>
        <td><%= expense.expense_type %></td>
        <td><%= expense.remarks %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path,class:'btn btn-info' %>
