$('#alert_info').html("<%= j(render 'template/alerts')%>");
<% if @sale_item.blank? && @item.present?%>
  row = $("<tr id='item-<%=@item.id%>' class=''></tr>");
    col1 = $("<td><input type='hidden' name='line_item' id='lineitemid' value='<%=@line_item.id%>' class='form-control'><input type='hidden' name='sale' id='saleid' value='<%=@sale.id%>' class='form-control'><input type='hidden' name='item[]' id='item' value='<%=@item.id%>' class='form-control'><%=@item.id%></td>");
    col2 = $("<td><%=@item.name%></td>");
    col3 = $("<td><%= @item.brand %></td>");
    col4 = $("<td class='width-130'><input type='text' name='item_price[]' id='item_price_js' value='<%=@item.price%>' data-item-id='<%=@item.id%>' class='form-control item_price_<%=@item.id%>'></td>");
    col5 = $("<td class='width-130'><input type='number' name='quantity[]' id='item_quantity' value='1' class='form-control item_quantity_<%=@item.id%>' data-item-id='<%=@item.id%>'></td>");
    col6 = $("<td id='item-<%=@item.id%>-total-price'><%=@item.price%></td>");
    col7 = $("<td><a href='#' onclick='return remove_lineitem(<%=@line_item.id%>)'>X</a></td>");
    row.append(col1,col2,col3,col4,col5,col6,col7).prependTo("#line_items_table");
<%end%>
$("#auto_search_item").val('');
$(".price_output").val("<%=@sale.total_amount%>");
$(".balance").html('<%=@sale.remaining_amount%>');
$(".submit_sale").removeAttr("disabled");

