<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Template Mo">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

  <title>POS Online Software</title>


  <%= stylesheet_link_tag "home", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :home, "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div class="overlay">
    <div id="loading-img"></div>
  </div>
  <!-- ***** Preloader End ***** -->


  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="#" class="logo"> POS Software</a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#welcome" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#about">About</a></li>
              <li class="scroll-to-section"><a href="#services">Services</a></li>
              <li class="scroll-to-section"><a href="#frequently-question">Frequently Questions</a></li>
              <li class="scroll-to-section"><a href="<%=new_user_session_path%>">Log In</a></li>
              <li class="scroll-to-section"><a href="<%=free_path%>">Sign Up</a></li>
              <!-- <li class="submenu">
                                <a href="javascript:;">Drop Down</a>
                                <ul>
                                    <li><a href="">About Us</a></li>
                                    <li><a href="">Features</a></li>
                                    <li><a href="">FAQ's</a></li>
                                    <li><a href="">Blog</a></li>
                                </ul>
                            </li> -->
              <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <%=yield%>


  <!-- ***** Footer Start ***** -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12">
          <p class="copyright">Copyright &copy; 2020 POS Online Software . Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
          <ul class="social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <%= yield :javascript %>
  <div id="alert_info">
    <%= render :partial => 'template/alerts' %>
  </div>
</body>

</html>